<mat-toolbar class="fixed-header" color="primary">
<span>
<div fxLayout="row" fxShow="false" fxShow.gt-sm>
		<h4 mat-line [ngClass]="isExpanded ? 'example-sidenav-opened' : 'example-sidenav-closed'" routerLink="/" routerLinkActive="active" *ngIf="isExpanded"><img src="../assets/img/tapis-logo-navbar.png" alt="logo" class="logo-default">-ng</h4>
        <button mat-icon-button (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
		</button>
</div>
</span>
	<div fxLayout="row" fxShow="false" fxShow.gt-sm>
	
    	<button mat-button routerLink="/login" *ngIf="currentUser == null">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="currentUser != null" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>

</mat-toolbar>