<mat-toolbar class="fixed-header" color="primary">

    <button mat-icon-button (click)="toggleSidenav()">
    	<mat-icon>menu</mat-icon>
		</button>
		<h4 mat-line routerLink="/" routerLinkActive="active"><img src="../assets/img/tapis-logo-navbar.png" alt="logo" class="logo-default">NG</h4>
	
    	<button mat-button routerLink="/login" *ngIf="currentUser == null">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="currentUser != null && tokenCountdown != null">
      <mat-icon  (click)="logout()">exit_to_app</mat-icon>
      Expires in {{ stringify(tokenCountdown) }}
    </button>


</mat-toolbar>