<H1>Acknowledgements</H1>

This material is based upon work supported by the National Science Foundation Office of Advanced CyberInfrastructure grant numbers \#1931439 and \#1931575, RII Track 1: 'Ike Wai Securing Hawai'i's Water Future NSF OIA \#1557349, Division of Ocean Sciences \#1636402

<H2>References</H2>
J. Stubbs, R. Cardone, M. Packard, A. Jamthe, S. Padhy,S.  Terry,  J.  Looney,  J.  Meiring,  S.  Black,  M.  Dahan,S. Cleveland, and G. Jacobs, "Tapis: An api platform for reproducible, distributed computational research," Proceedings of Future of Information and Communication Conference, FICC, 2021

Dooley R, Cleveland S. Accelerating Gateway Development with Agave ToGo Webapps and Microsites. 10th International Workshop on Science Gateways. Published online 2018:6.