<div>

<mat-form-field appearance="fill">
  <mat-label>Select System</mat-label>
  <mat-select [ngModel]="activeSystem" (ngModelChange)="onChange($event)">
    <mat-option *ngFor="let system of systemsListing$ | async" [value]="system">
      {{system.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<mat-toolbar>
  <mat-icon *ngIf="canNavigateUp > 0" class="pointer" (click)="navigateUp()">
    arrow_back
  </mat-icon>
  <span style="margin-left: 8px"> {{currentPath || 'Files'}} </span>
  <span class="spacer"></span>

  <div  *ngIf="view !== 'move'">
    <mat-icon class="pointer" aria-label="List View" title="List View" (click)="changeView('list')">
      view_list
    </mat-icon>
    <mat-icon class="pointer" aria-label="Tile View" title="Tile View" (click)="changeView('tile')">
      view_module
    </mat-icon>
  </div>
  <div *ngIf="view !== 'move'" style="font-size: 50px;">|</div>
  <mat-icon *ngIf="view !== 'move'" class="pointer" title="Refresh" (click)="totalRefresh()">
    refresh
  </mat-icon>
  <mat-icon *ngIf="view !== 'move'" class="pointer" title="Copy Selected Files To Location" (click)="openMoveDialog()">
    file_copy
  </mat-icon>
  <mat-icon *ngIf="view !== 'move'" class="pointer" title="Download Selected Files" (click)="recursiveDownload()">
    cloud_download
  </mat-icon>
  <mat-icon *ngIf="view !== 'move'" class="pointer" title="Delete Selected Files" (click)="recursiveDelete()">
    delete
  </mat-icon>
  <mat-icon *ngIf="view !== 'move'" class="pointer" title="Create New Folder" (click)="openNewFolderDialog()">
    create_new_folder
  </mat-icon>
  <mat-icon *ngIf="view !== 'move'" class="pointer" title="Upload File" (click)="openFileUploadDialog()">
    cloud_upload
  </mat-icon>
</mat-toolbar>
<div class="spinner">
  <mat-spinner [diameter]="50" *ngIf="state === 'loading'"></mat-spinner>
</div>
<div *ngIf="state === 'tenantDown'">
Service Down! Please wait a moment and try refreshing the page.
</div>
<app-file-move
    [fileElements] = "listing$ | async"
    [canNavigateUp] = "canNavigateUp"
    [path] = "currentPath"
    (select) = "dialogClose($event)"
    (open) = "navigateDown($event)"
    *ngIf="view === 'move' && state === 'loaded'"></app-file-move>
<app-file-tile
    [fileElements] = "listing$ | async"
    [canNavigateUp] = "canNavigateUp"
    [path] = "currentPath"
    (folderAdded) = "addFolder($event)"
    (leftClickFile) = "leftSelect($event)"
    (shiftClickFile) = "shiftSelect($event)"
    (ctrlClickFile) = "ctrlSelect($event)"
    (viewChanged) = "changeView($event)"
    (elementRemoved) = "deleteOne($event)"
    (elementRenamed) = "rename($event)"
    (elementMoved) = "moveTo($event)"
    (navigatedDown) = "navigateDown($event)"
    (fileDownload) = "downloadElement($event)"
    (fileUpload) = "uploadFile($event)"
    (navigatedUp) = "navigateUp()"
    (moveTo) = "moveTo($event)"
    *ngIf="view === 'tile' && state === 'loaded'"></app-file-tile>
<app-file-list 
    [fileElements] = "listing$ | async"
    [canNavigateUp] = "canNavigateUp"
    [path] = "currentPath"
    (folderAdded) = "addFolder($event)"
    (select) = "toggleSelect($event)"
    (viewChanged) = "changeView($event)"
    (elementRemoved) = "deleteOne($event)"
    (elementRenamed) = "rename($event)"
    (elementMoved) = "moveTo($event)"
    (navigatedDown) = "navigateDown($event)"
    (fileDownload) = "downloadElement($event)"
    (fileUpload) = "uploadFile($event)"
    (navigatedUp) = "navigateUp()"
    *ngIf="view === 'list' && state === 'loaded'"></app-file-list>