<div>

<mat-form-field appearance="fill">
  <mat-label>Select System</mat-label>
  <mat-select [ngModel]="activeSystem" (ngModelChange)="onChange($event)">
    <mat-option *ngFor="let system of systemsListing$ | async" [value]="system">
      {{system.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

</div>
<mat-toolbar>
  <mat-icon *ngIf="canNavigateUp > 0" class="pointer" (click)="navigateUp()">
    arrow_back
  </mat-icon>
  <span style="margin-left: 8px"> {{currentPath || 'Files'}} </span>
  <span class="spacer"></span>

  <div  *ngIf="view !== 'move'">
  <mat-icon class="pointer" (click)="totalRefresh()">
    refresh
  </mat-icon>
  <mat-icon class="pointer" (click)="openMoveDialog()">
    folder_shared
  </mat-icon>
  <mat-icon class="pointer" (click)="recursiveDownload()">
    cloud_download
  </mat-icon>
  <mat-icon class="pointer" (click)="recursiveDelete()">
    delete
  </mat-icon>
  <mat-icon class="pointer" (click)="changeView('list')">
    view_list
  </mat-icon>
  <mat-icon class="pointer" (click)="changeView('tile')">
    view_module
  </mat-icon>
  <mat-icon class="pointer" (click)="openNewFolderDialog()">
    create_new_folder
  </mat-icon>
  <mat-icon class="pointer" (click)="openFileUploadDialog()">
    cloud_upload
  </mat-icon>
  </div>
</mat-toolbar>
<div class="spinner">
  <mat-spinner [diameter]="50" *ngIf="state === 'loading'"></mat-spinner>
</div>
<app-file-move
    [fileElements] = "listing$ | async"
    [canNavigateUp] = "canNavigateUp"
    [path] = "currentPath"
    (select) = "dialogClose($event)"
    (open) = "navigateDown($event)"
    *ngIf="view === 'move' && state === 'loaded'"></app-file-move>
<app-file-tile
    [fileElements] = "listing$ | async"
    [canNavigateUp] = "canNavigateUp"
    [path] = "currentPath"
    (folderAdded) = "addFolder($event)"
    (leftClickFile) = "leftSelect($event)"
    (shiftClickFile) = "shiftSelect($event)"
    (ctrlClickFile) = "ctrlSelect($event)"
    (viewChanged) = "changeView($event)"
    (elementRemoved) = "deleteOne($event)"
    (elementRenamed) = "rename($event)"
    (elementMoved) = "moveTo($event)"
    (navigatedDown) = "navigateDown($event)"
    (fileDownload) = "downloadElement($event)"
    (fileUpload) = "uploadFile($event)"
    (navigatedUp) = "navigateUp()"
    *ngIf="view === 'tile' && state === 'loaded'"></app-file-tile>
<app-file-list 
    [fileElements] = "listing$ | async"
    [canNavigateUp] = "canNavigateUp"
    [path] = "currentPath"
    (folderAdded) = "addFolder($event)"
    (select) = "toggleSelect($event)"
    (viewChanged) = "changeView($event)"
    (elementRemoved) = "deleteOne($event)"
    (elementRenamed) = "rename($event)"
    (elementMoved) = "moveTo($event)"
    (navigatedDown) = "navigateDown($event)"
    (fileDownload) = "downloadElement($event)"
    (fileUpload) = "uploadFile($event)"
    (navigatedUp) = "navigateUp()"
    *ngIf="view === 'list' && state === 'loaded'"></app-file-list>