.example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav-opened {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #2b3643;
  }
  
  .example-sidenav-closed {
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b3643;
  }

.opened {
    padding-left: 0px;
}

.closed {
    padding-left: 0px;
}

.content {
    margin-top: 60px;
}

.mat-list-item { 
    color: white;
}