<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav class="sidenav"  #sidenav  [(opened)]="isExpanded" [fixedInViewport]="false" mode="side" opened="true" >

    <mat-nav-list>
      <mat-list-item routerLink="/" routerLinkActive="active">	
		<h4 mat-line>Home</h4>
		<mat-icon class="icontest">home</mat-icon> 
      </mat-list-item>
      <mat-list-item routerLink="/filemanager" routerLinkActive="active">
			<h4 mat-line>File Manager</h4>
			<mat-icon class="icon" >folder_shared</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="isExpanded ? 'opened' : 'closed'">
	  <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
